@font-face {
  font-family: 'Roboto';
  src: url('../font/Roboto-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

p {
  padding: 0.5rem 1rem;
}

p:focus-within {
  background-color: gray;
}

[type='text']:invalid,
[type='email']:invalid,
[type='password']:invalid {
  background-color: lightcoral;
}

[type='text']:valid,
[type='email']:valid,
[type='password']:valid {
  background-color: lightgreen;
}
